<input type="text" [(ngModel)]="title">
{{ title }}

<input type="number" [(ngModel)]="power">
{{ power | exponential }}

<div *ngIf="title !== ''">
  esto es un div de html
</div>

<div [ngSwitch]="title"  >
  <p *ngSwitchCase="'title'"> title </p>
  <p *ngSwitchCase="'title 2'"> title 2</p>
  <p *ngSwitchCase="'title 3'"> title 3</p>
  <p *ngSwitchDefault> Ingrese un title</p>
</div>


<input type="text" [(ngModel)]="newItem">
<button (click)="addItem(newItem)">Add item</button>

<div>
  <ul>
    <li *ngIf="items.length === 0"> La lista esta vacía </li>
    <li *ngFor="let item of items; index as i">
        {{i}} - {{item}}
        <button (click)="deleteItem(i)">Remove item</button>
    </li>
  </ul>
</div>
