<h3 appHighlight>{{product.title | uppercase}} </h3>
<img [src]="product.image" alt="">
<strong> {{product.price | currency}} </strong>
<p>{{product.description | slice:0:20}}</p>
<p> {{today | date:'dd/MM/yyyy'}}</p>
<button (click)="addCart()">Añadir al carrito </button>
<a [routerLink]="['/products', product.id]">Ver detalle</a>





